#sections {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 0px;
  z-index: 90;
  margin-left: 150px;
}

.step {
	height: 100vh;
	margin-bottom: 50px;
}

#vis {
  display: inline-block;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 150px;
  background-color: lightgrey;
}

.fullVis {
  display: inline-block;
  z-index: 1;
  height: 500px;
  width: 100%;
}

.halfVis {
  display: inline-block;
  z-index: 1;
  height: 500px;
  width: 80%;
}

.message {
	display: flex;
	font-size: 34px;
	margin-right: 50px;	
}

.index {
	margin: 5px;
	text-align: center;
}

td,th {
	border: 1px solid black;
	padding: 6px;	
	text-align: center;
	width: 17px;
}
table {
	border-collapse: collapse;
}

#textInput {
	font-size: 10px;
}

#container {
  width: 100%;
  display: flex;
}

.streamContainer {
  display: flex;
  margin: 0px 0 0 60px;
	position: fixed;
	top: 100px;
	left: 400px;
}

.inputContainer {
	display: flex;
	margin-left: 50px;
	font-size: 18px;
	position: fixed;
	top: 100px;
	left: 400px;
}

.inputs,.results {
	margin: 0 30px 0 30px;
}

.results {
	font-size: 22px;
}

.lilDiv {
	display: flex;
}

#textInput {
	font-size:16px;
	font-family: 'Times New Roman';
	margin-right: 20px;
	border-radius: 5px;
}

.math {
	display: flex;
	font-size: 26px;
}


h1 {
  text-align: center;
}

.titles {
  margin: unset;
}

#form1{
  width: 100%;
}

#input_boxes {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  height: 100%;
}

#encrypted, #decrypted {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  padding: 1px;
}

body {
  margin: unset;
}

#key, #cipher, #plain {
  width: 30px;
  text-align: center;

}

.grid_box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 38%;
  float: right;
}

.example, .rules, .block_message, .cipher_message, .textboxes, .flexin, #title5{
  display: flex;
}

.blockContainer, .interactiveContainer {
  margin: 0 50px 50px 50px;
  width: 42%;
	position: fixed;
	top: 200px;
	left: 200px;
}

.block_letter {
  font-size: 25px;
  width: 40px;
  text-align: center;
}

.exampleContainer {
  margin-right: 45px; 
  margin-top: -22px;
}

.block_pairs {
  margin-right: 3%;
}

.block_msg_letter{
  margin-right: 21px;
  font-size: 65px;
}

.update_margin {
  margin-right: 17px;
}

.encryption {
  margin-top: 25px;
}

#checkbutton, #inputButton {
  border-radius: 5px;
  margin-left: 15px;
  border: 1px solid darkgray;
  padding: 10px;
  cursor: pointer;
}

#shareResult {
  margin-left: 10px;
  font-size: 30px;
}

.timelineContainer {
	display: flex;
	height: 700px;
	position: fixed;
	top: 100px;
	left: 400px;
}

.line {
	background-color: gray;
	align: center;
	width: 4px;
	height: 100%;
	margin-top: 15px;
	position: absolute;
	display: flex;
	justify-content: center;
}

.lineDiv {
	display: flex;
	justify-content: center;
}

.leftDiv, .rightDiv {
	width: 400px;
	height: 100%
}

.eventBox {
	background-color: #F1F1F1;
	height: 125px;
	border-radius: 10px;
	margin: 30px;
}

.year {
	padding: 10px;
	font-size: 30px;
	text-align: center;
}

.event {
	padding: 10px;
}

.explanation {
	width: 250px;
	text-align: justify;
}

#backgroundTransition {
	background-color: black;
}
