#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 500px;
}

#vis {
  display: inline-block;
  position: fixed;
  z-index: 1;
  margin: 50px 0 0 50px;
  height: 600px;
  width: 600px;
  background-color: #F1F1F1;
}

#container {
  width: 890px;
  margin: auto;
}

#graphic {
  padding-top: 60px;
}

h1 {
  text-align: center
}
