#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 500px;
}

#vis {
  display: inline-block;
  position: fixed;
  z-index: 1;
  margin: 0 0 0 50px;
  height: 650px;
  width: 800px;
}

.message {
	display: flex;
	font-size: 30px;
	margin-right: 50px;	
}

.index {
	margin: 5px;
	text-align: center;
}

td,th {
	border: 1px solid black;
	padding: 6px;	
	text-align: center;
	width: 17px;
}
table {
	border-collapse: collapse;
}

#textInput {
	font-size: 10px;
}

#container {
  width: 80%;
  margin: auto;
}

.streamContainer {
  display: flex;
  margin: 60px 0 0 60px;
}

.inputContainer {
	display: flex;
	margin-left: 50px;
	font-size: 18px;
}

.inputs,.results {
	margin: 30px;
}

.results {
	font-size: 22px;
}

#inputButton,#textInput {
	font-size:16px;
	font-family: 'Times New Roman';
	margin-right: 30px;
}

.math {
	display: flex;
	font-size: 20px;
}

h1 {
  text-align: center
}

p {
  padding: 1px;
}

#key, #cipher, #plain {
  width: 20px;
  text-align: center;
}

.timelineContainer {
	display: flex;
}

.line {
	background-color: gray;
	align: center;
	width: 4px;
	height: 95%;
	margin-top: 15px;
	position: absolute;
	display: flex;
	justify-content: center;
}

.lineDiv {
	display: flex;
	justify-content: center;
}

.leftDiv, .rightDiv {
	width: 400px;
	height: 100%
}

.eventBox {
	background-color: #F1F1F1;
	height: 125px;
	width: 300px;
	border-radius: 10px;
	margin: 30px;
}

.year {
	padding: 10px;
	font-size: 30px;
	text-align: center;
}

.event {
	padding: 10px;
}
